<input type="text" [(ngModel)]="searchCriteria"
      (keyup)="search()">
<a matTooltip="Add a consumer"
      routerLink="/consumer-form">
    <mat-icon>person_add</mat-icon>
  </a>
<table>
  <tr *ngFor="let consumer of consumersObs | async">
    <td>{{consumer.civility}}</td>
    <td>{{consumer.lastname}}</td>
    <td>{{consumer.firstname}}</td>
    <td>{{consumer.email}}</td>
    <td>{{consumer.phone | phone}}</td>
    <td>
      <a matTooltip="Edition"
        [routerLink]="['/consumer-form', consumer.id]">
        <mat-icon>edit</mat-icon>
      </a>
    </td>
  </tr>
</table>
